<nav class=" footer bg-lsnj navbar-dark">
    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <p class="text-center">
                Legal Services of New Jersey<br />
                100 Metroplex Drive, Suite 402<br />
                P.O. Box 1357<br />
                Edison, NJ 08818-1357<br />
                (732) 572-9100
            </p>
        </div>
        <div class="col-sm-12 col-lg-6">
            <p class="text-center">
                <a href="https://www.lsnj.org/Volunteer.aspx">Volunteer</a> | 
                <a href="https://www.lsnj.org/Jobs.aspx">Jobs</a> | 
                <a href="https://www.lsnj.org/Internships.aspx">Internships</a> | 
                <a href="https://www.lsnj.org/PressRoom.aspx">News Releases</a>
                
                <br />
                <a href="https://www.probononj.org/">Pro Bono</a> | 
                <a href="https://www.lsnj.org/ContactUs.aspx">Contact</a> | 
                <a href="https://www.lsnj.org/SupportOurWork.aspx">Donate Now</a> | 
                <a href="https://www.lsnj.org/ClientsVideosStories.aspx">Client Stories</a> 
                <br />
                    
                <a href="https://www.lsnj.org/NewsAnnouncements.aspx">Legal Services in the News</a> | 
                <a href="https://www.lsnj.org/KeyDevelopments.aspx">Key Legal Developments</a>
                <br />
                
                <a href="#">Site Map</a> | 
                <a href="https://www.lsnj.org/TermsOfUse.aspx">Terms of Use</a> | 
                <a href="https://www.lsnj.org/PrivacyPolicy.aspx">Privacy Policy</a>
                <br />
                <br />

                Copyright © 2019 Legal Services of New Jersey
            </p>
        </div>
        <div class="col-sm-12 col-lg-3">
            <p class="text-center">
                Other LSNJ websites:<br />
                <a href="http://www.lsnjlaw.org">www.lsnjlaw.org</a><br />
                <a href="http://www.probononj.org">www.probononj.org</a><br />
                <a href="http://www.njejla.org">www.njejla.org</a>
            </p>
        </div>
    </div>
</nav>
