<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #145595;">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logoLSNJ.jpg" alt="Legal Services of New Jersey"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/help">Get Legal Help</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Support Our Work</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Multimedia</a></li>
        <li class="nav-item"><a class="nav-link" href="/">NJ poverty</a></li>
      </ul>
      <form class="form-inline">
        <button class="btn btn-danger" type="button">Donate</button>
      </form>
    </div>
</nav>