body {
    background-color: rgb(223, 221, 221);
    color: #145595;
}

.bg-lsnj {
    background-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #145595;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: orangered;
}

.breadcrumb {
    font-size: 75%;
    background-color: rgb(223, 221, 221);
    border-radius: 0px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 1px;
}

.breadcrumb-item.active {
    color: purple;
}

.footer {
    font-size: 85%;
}

.text-white {
    color: white;
}

.text-yellow {
    color: yellow;
}

.text-black {
    color: black;
}

.main {
    padding: 1%;
    margin-bottom: 1px;
}

.card {
    //background-color: #155ea7;
    color: #155ea7;
    border-radius: 10px;
    text-align: center;
    min-height: 100px !important;
}

.card-header {
    color: red;
    text-align: center;
    font-weight: bold;
    height: 70px;
    padding: 5px;
}

.text-bigger {
    font-size: 115%;
    text-align: justify;
}
