body {
    background-color: lightgray;
    color: white;
}

.bg-lsnj {
    background-color: #145595;
}

a {
    color: orange;
}

a:hover {
    color: yellow;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.breadcrumb {
    font-size: 75%;
    background-color: #155ea7;
    border-radius: 0px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 1px;
}

.breadcrumb-item.active {
    color: darkorange;
}

.footer {
    font-size: 85%;
}

.text-white {
    color: white;
}

.text-yellow {
    color: yellow;
}

.text-black {
    color: black;
}

.main {
    padding: 1%;
    margin-bottom: 1px;
}

.card {
    background-color: #155ea7;
    color: white;
    outline: black;
    border-radius: 10px;
    text-align: center;
}

.card-header {
    color: yellow;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    height: 80px;
}

h4 {
    vertical-align: middle;
}