<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<div class="main bg-lsnj">
    <div class="white-text container-fluid">
        <p>Providing <b>FREE LEGAL ASSISTANCE</b> to low-income people in New Jersey</p>
        <p>LSNJ coordinates the statewide Legal Services system, which provides free legal assistance to low-income New Jerseyans for their civil legal problems. Through its work, LSNJ strives to secure substantive and procedural justice for those living in poverty.</p>
    </div>
</div>